[submodule "modules/d3types"]
	path = modules/d3types
	url = ssh://git@github.com/manuquadros/d3types.git
[submodule "modules/apiadapters"]
	path = modules/apiadapters
	url = ssh://git@github.com/manuquadros/apiadapters.git
